
.header{
    align-items: center;
    background-color: #d49726;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.link {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }